.loginbox{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
}
.loginbox__inner{
    width: 378px;
}
.loginimg{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
.auth_heading{
    color: #03014C;
    font-size: 33px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.provider_login{
    border: 1px solid #03014C;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 20px 30px;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 30px;
}
.provider_login span{
    font-size: 14px;
    color: #03014C;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.loginbox .form_main{
    margin-top: 30px;
}
.form_main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.login_input_field{
    width: 100%;
}
.loginbtn{
    background-color: #5F34F5 !important;
    color: white;
    padding: 15px 0 !important;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px !important;
}
.loginauth{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #03014C;
    padding-top: 20px;
    text-align: center;
}
.loginauth a, .loginauth span{
    color: #EA6C00;
    font-weight: 700;
    text-transform: capitalize;
    padding-left: 8px;
    text-decoration: none;
    cursor: pointer;
}
.loginimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.forgot_box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.forgot_box h2{
    margin-bottom: 0px;
}
.error{
    background-color: red;
    color: white;
    padding: 8px 15px;
    margin-top: 8px;
}

.passtoggel{
    border: none;
    padding: 5px 12px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
