.msg_wrapper{
    display: flex;
    gap: 25px;
}
.msg_user_body{
    width: 30%;
    border: 1px solid gray;
    height: 900px;
}
.msg_user_body .list_heading{
    padding: 15px 20px;
    background-color: blueviolet;
    color: white;
    font-size: 25px;
}
.msg_user_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px;
}
.msg_user_item{
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 0 15px;
    transition:  all linear 0.1s;
    cursor: pointer;
    border-radius: 10px;
}
.msg_user_item:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.msg_user_item .userinfobox{
    display: flex;
}
.msg_box_body{
    width: 70%;
    height: 900px;
    background-color: transparent;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.msg_box_heading{
    background-color: blueviolet;
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    padding: 15px 30px;
}
.msg_main{
    margin: 20px;
    overflow-y: scroll;
}
.sendmsg{
    display: flex;
    justify-content: flex-end;
}
.sendmsg p{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
}
.receivemsg p{
    background-color: rgba(128, 128, 128, 0.1);
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
}
.msg_footer{
    background-color: blueviolet;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    position: relative;
}
.msg_input{
    width: 60%;
    height: 100%;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 0 20px;
    font-size: 20px;
}
.msg_send_btn{
    height: 100%;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    margin-left: 20px;
}
.emoji_wrapper{
    position: absolute;
    left: 20px;
    bottom: 90px;
    background-color: red;
}
.scrollbox{
    height: 600px;
    overflow-y: scroll;
}