*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
ul,ol{
    list-style-type: none;
}

.groupcard{
    width: 470px;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.outletbox{
    padding: 30px;
}
.group_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group_heading h4{
    color: #000;
    font-size: 20px;

}
.group_heading .dots{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ece7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.usermainbox{
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 350px;
    overflow-y: scroll;
}
.usermainbox::-webkit-scrollbar {
    width: 0px;
}
.usermainbox::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 8px;
}
.useritem{
    padding-bottom: 13px;
    border-bottom: 1px solid black;
    display: flex;
    column-gap: 14px;
    align-items: center;
}
.useritem:last-child{
    border-bottom: 0;
}
.userinfobox{
    flex-basis: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addbutton{
    padding: 10px;
    border: 0;
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.home_wrapper{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.userimgbox{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ada9a9;
    overflow: hidden;
}
.userimgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttongroup{
    display: flex;
    gap: 5px;
}

